#header{
    background: url(image/donation13.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.hearertex{
    width: 90%;
    color: white;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50% -50%);
    text-align: center;
}
.hearertex h1{
    font-size: 60px;
}
.Button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(194, 90, 90);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.Button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
/*----Today-----*/
.Today h1{
    text-align: center;
}
.Today p{
    margin-left: 300px;
}
.button{
    padding: 20px 0px;
    text-align: center;
    margin: 20px 10px;
}
.Input{
    text-align: center;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{

    flex-basis: 31%;
    background-color: bisque;
    margin-bottom: 5%;
    border-radius: 10px;
    padding: 10px 5px;
   

}